.reactvideocover {
  width: 100%;
  position: relative;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 2rem;
}

@media (min-width: 780px) {
  .reactvideocover {
    display: flex;
    width: 100%;
  }
  .reactvideocover source {
    min-width: 100%;
  }
}
